.content-container {
    display: flex;
    flex-direction: column;
}

.content-block {
    color: #93a5cf;
    min-width: 50vw;
    text-align: center;
    margin: 15px auto;
    padding: 15px;
}

.search-section {
    min-width: 100%;
    margin: 15px auto;
    display: flex;
    flex-direction: row;

}

.search-input {
    height: 30px;
    text-align: center;
    font-size: 18px;
    color: #93a5cf;
    border: 1px solid #93a5cf;
    margin-right: 2px;
    outline: none;
    flex-grow: 4;
}

.search-button {
    background-color: white;
    color:#93a5cf;
    border-color: #93a5cf;
    outline: none;
    flex-grow: 1;
}

.result-container {
    border: 1px solid #93a5cf;
    margin: 10px auto;
    height: 200px;
    text-align: center;
    width: 50vw;
}