.footer-container {
    width: 100vw;
    height: 40px;
    display: grid;
    grid-template-columns: 5% 20% 30% 13.33% 13.33% 13.33% 5% ;

    background-image: linear-gradient(200deg, #93a5cf , #e4efe9);
    color: white;
    font-weight: 900;
    position: fixed;
    bottom: 0;
    text-align: center;
}

.footer-item {
    margin: auto auto;
}

.footer-item-1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.footer-item-2 {
    grid-column-start: 6;
    grid-column-end: 7;
}



