.hero-container {
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(200deg, #93a5cf , #e4efe9);
    text-align: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.hero-header {
    color: white;
    grid-column-start: 2;
    justify-self: center;
    font-size: 55px;
    margin: auto;
    font-weight: 900;
}