.nav-container {
    width: 100vw;
    height: 80px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 5% 20% 30% 13.33% 13.33% 13.33% 5% ;
}

.nav-image {
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 25px;
}

.nav-position {
    margin: auto auto;
    color:#93a5cf;
    font-weight: 900;;
}

.nav-item-1 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.nav-item-2 {
    grid-column-start: 5;
    grid-column-end: 6;
}

.nav-item-3 {
    grid-column-start: 6;
    grid-column-end: 7;
}